# Ignore vscode.
/.vscode/

# Ignore the solution file.
/*.sln

# Ignore build artifacts.
/bin/
/obj/

# No publishing my own session key.
.session

# Ignore the local cache of puzzle input data.
/2015/
/2016/
/2017/
/2018/
/2019/
/2020/
/2021/
/2022/
/2023/
